<div class="container user-list" role="region" aria-label="User Management">
  <div class="header user-list__header">
    <h1 class="user-list__title" id="userListTitle">Users</h1>
    <button
      class="user-list__create-button"
      mat-fab
      extended
      color="primary"
      (click)="openCreateDialog()"
      aria-label="Create new user"
    >
      <mat-icon aria-hidden="true">add</mat-icon> Create User
    </button>
  </div>

  <mat-table
    class="user-list__table"
    [dataSource]="dataSource"
    matSort
    aria-labelledby="userListTitle"
    role="grid"
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--id"
        *matHeaderCellDef
        mat-sort-header
        >ID</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--id"
        *matCellDef="let user"
        >{{ user.id }}</mat-cell
      >
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--username"
        *matHeaderCellDef
        mat-sort-header
        >Username</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--username"
        *matCellDef="let user"
        >{{ user.userName }}</mat-cell
      >
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--email"
        *matHeaderCellDef
        mat-sort-header
        >Email</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--email"
        *matCellDef="let user"
        >{{ user.email }}</mat-cell
      >
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--first-name"
        *matHeaderCellDef
        mat-sort-header
        >First Name</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--first-name"
        *matCellDef="let user"
        >{{ user.firstName }}</mat-cell
      >
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--last-name"
        *matHeaderCellDef
        mat-sort-header
        >Last Name</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--last-name"
        *matCellDef="let user"
        >{{ user.lastName }}</mat-cell
      >
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="userStatus">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--status"
        *matHeaderCellDef
        mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--status"
        *matCellDef="let user"
      >
        <span
          class="user-list__status-badge"
          [ngClass]="getStatusClass(user.userStatus)"
          [attr.aria-label]="'Status: ' + getStatus(user.userStatus)"
        >
          {{ getStatus(user.userStatus) }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--department"
        *matHeaderCellDef
        mat-sort-header
        >Department</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--department"
        *matCellDef="let user"
        >{{ user.department }}</mat-cell
      >
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell
        class="user-list__header-cell user-list__header-cell--actions"
        *matHeaderCellDef
        >Actions</mat-header-cell
      >
      <mat-cell
        class="user-list__cell user-list__cell--actions"
        *matCellDef="let user"
      >
        <button
          class="user-list__edit-button"
          mat-icon-button
          color="primary"
          (click)="openEditDialog(user)"
          [attr.aria-label]="'Edit user ' + user.userName"
        >
          <mat-icon class="user-list__edit-icon" aria-hidden="true"
            >edit</mat-icon
          >
        </button>
        <button
          class="user-list__delete-button"
          mat-icon-button
          color="warn"
          (click)="deleteUser(user.id)"
          [attr.aria-label]="'Delete user ' + user.userName"
        >
          <mat-icon class="user-list__delete-icon" aria-hidden="true"
            >delete</mat-icon
          >
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="user-list__header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="user-list__row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    class="user-list__paginator"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
    aria-label="Select page of users"
  >
  </mat-paginator>
</div>
